#temporary-message {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.50);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.temporary-message-wrapper  {
  border: 1px solid #c8ccd1;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.44);
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
}

.temporary-message-headline>h2 {
    text-align: center;
}

.temporary-message-body {
  text-align: center;
}

.temporary-message-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center
}

.temporary-btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none;
}

